* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: rgb(63, 219, 251);
  background: radial-gradient(
    circle,
    rgba(63, 219, 251, 1) 0%,
    rgba(84, 70, 252, 1) 100%
  );

  font-family: sans-serif;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

h1 {
  padding: 20px;
}

#textoVictoria{
  visibility: hidden;
  color: rgb(41, 26, 170);
}

.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 550px;
  background: rgba(255, 254, 255, 0.2);
  border-radius: 8px;
  padding-bottom: 40px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 95%;
}

button {
  height: 30%;
  width: 30%;
  margin: 7px;
  font-weight: 50px;
}
.reset-hidden{
  background-color: transparent;
  border: none;
}

.reset{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 254, 255, 0.2);
  border-radius: 8px;
  padding: 8px 20px;
  margin-top: 20px;

}

.reset:hover{
  cursor: pointer;
  background: rgba(255, 254, 255, 0.468);

}


@media screen and (max-width: 767px) {
  main {
    width: 90%;
    flex-direction: column;
  }

  .sectionOne {
    align-items: center;
    width: 600px;
    height: 600px;
    background: rgba(255, 254, 255, 0.2);
    border-radius: 8px;
    padding-bottom: 40px;
  }

  button {
    height: 25%;
    width: 25%;
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  .sectionOne {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 500px) {
    .sectionOne {
        width: 400px;
        height: 400px;
      }
}

@media screen and (max-width: 415px) {
    .sectionOne {
        width: 325px;
        height: 400px;
      }

      button{
          margin-bottom: 2px;
          width: 25%;
          height: 25%;
      }

      h2{
          width: 100px;
      }
}
